@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 10px;
  padding: 10px;

  .brand {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: config.$card-shadow;
    background: config.$white;
    @include mixins.border-radius();
    padding: 10px;
  }

  .row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  .value,
  .title {
    font-size: config.$med-font;
  }

  .count {
    font-size: config.$tiny-font;
  }

  .title {
    margin-bottom: 10px;
  }
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
