@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.image {
  width: 100%;
  height: 100%;
  object-position: 100% 0%;
  @include mixins.border-radius();
}

.category {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
  position: relative;
  width: 100%;

  .selectorContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px;
  }

  .icon,
  .reset {
    height: 24px;

    &:hover {
      cursor: pointer;
    }
  }

  .reset {
    margin-right: 10px;
  }

  .selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 40px;
    padding: 10px;
    background: config.$white;
    @include mixins.border-radius();
    box-shadow: config.$card-shadow;

    &:hover {
      cursor: pointer;
    }
  }

  .list {
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 2;
    width: 180px;
    height: 200px;
    padding: 10px;
    overflow-y: scroll;
    text-align: right;
    background: config.$white;
    @include mixins.border-radius();
    box-shadow: config.$card-shadow;
    @include mixins.slide-bottom();

    p {
      height: 30px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.message {
  text-align: center;
}
