@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;

  div {
    display: flex;
    @include mixins.gradientBorder();
    border-radius: 50%;
    border: 2px solid transparent;
  }
  .image {
    border-radius: 50%;
  }
}
