@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    position: relative;
    width: 100px;
    height: 110px;
    @include mixins.gradientBorder();
    border-radius: 12px;
    border: 2px solid transparent;
    margin: 2px;

    &:hover {
      cursor: pointer;
    }
  }

  .image {
    border-radius: 10px;
  }
}
