@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
  margin-bottom: 5px;

  div {
    display: flex;
    border-radius: 50%;
    background: linear-gradient(config.$white, config.$white) padding-box,
      linear-gradient(45deg, config.$lemon, config.$brand) border-box;
    border: 2px solid transparent;
  }
  .image {
    border-radius: 50%;
  }
}
