@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.imageContainer {
  position: relative;
  width: 100%;
  height: 55vh;
  @include mixins.border-radius();
}

.image {
  @include mixins.border-radius();
}

.icon {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 10px;
}

.items {
  width: 100%;
  text-align: right;

  .description {
    margin: 20px 0px;
  }

  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    background: config.$white;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: config.$display-shadow;
  }

  p {
    font-size: config.$med-font;
  }
}
