@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  width: 100%;
  top: 0px;
  height: 100vh;
}

.image {
  @include mixins.background-anime();
}

.icon {
  position: absolute;
  bottom: 150px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  @include mixins.heartbeat();
}

.banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  position: relative;
  top: 30px;
  z-index: 1;
  width: 150px;
  height: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  @include mixins.transparentBackground(0.8, config.$brand);
  box-shadow: config.$card-shadow;

  p {
    font-size: config.$big-font;
  }

  &:hover {
    cursor: pointer;
  }
}

.message {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 70px;
  width: 100%;
  padding: 10px;
  box-shadow: config.$card-shadow;
  @include mixins.transparentBackground(0.8, config.$cream);

  p {
    font-size: config.$med-font;
  }
}
