@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  width: 100%;
  top: 0px;
}

.actions {
  position: fixed;
  top: 60px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: config.$max-width;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: space-around;

  .call {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-shadow: config.$image-shadow;
    border-radius: 50px;
    @include mixins.transparentBackground(0.8, config.$brand);

    p {
      width: 100%;
      font-weight: bold;
    }
  }
}

.imageContainer {
  max-width: config.$max-width;
  height: calc(100vh - 50px);

  .image {
    @include mixins.background-anime();
  }
}

.message {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 80px;
  width: 100%;
  padding: 10px;
  box-shadow: config.$card-shadow;
  @include mixins.transparentBackground(0.8, config.$cream);
  max-width: config.$max-width;

  p {
    font-size: config.$med-font;
  }
}
