@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  width: 100%;
  top: 0px;
}

.imageContainer {
  display: flex;
  position: relative;

  .categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    margin: auto;
    gap: 50px;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 12px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 100px;
      margin: auto;
      font-weight: bold;
      box-shadow: config.$image-shadow;
      opacity: 0.8;
      @include mixins.border-radius();
      @include mixins.gradientBackground();

      &:hover {
        cursor: pointer;
      }
    }

    .beat {
      @include mixins.heartbeat();
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding: 12px;
    box-shadow: config.$image-shadow;
    max-width: config.$max-width;
    @include mixins.transparentBackground(0.8, config.$cream);
  }

  .discount {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 12px;
    box-shadow: config.$image-shadow;
    max-width: config.$max-width;
    color: config.$orange;
    @include mixins.transparentBackground(0.8, config.$cream);
  }
}
