@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  width: 100%;
  top: 0px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: config.$max-width;

  .image {
    @include mixins.background-anime();
  }

  .categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    margin: auto;
    gap: 50px;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 10px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 100px;
      font-weight: bold;
      box-shadow: config.$image-shadow;
      font-size: config.$med-font;
      @include mixins.border-radius();
      @include mixins.transparentBackground(0.4, config.$cream);
      border: 2px solid config.$lemon;
      margin: auto;

      &:hover {
        cursor: pointer;
      }
    }

    .beat {
      @include mixins.heartbeat();
    }
  }
}

.message {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
  padding: 10px;
  box-shadow: config.$image-shadow;
  @include mixins.transparentBackground(0.8, config.$cream);
  max-width: config.$max-width;

  p {
    font-size: config.$small-font;
  }
}

.discount {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-shadow: config.$image-shadow;
  @include mixins.transparentBackground(0.8, config.$cream);
  max-width: config.$max-width;
  color: config.$orange;

  &:hover {
    cursor: pointer;
  }
}
