@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

// product
.productContainer {
  position: relative;
  width: 100%;
  height: 55vh;
  @include mixins.border-radius();
  box-shadow: config.$image-shadow;

  .banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 10px;
    right: 0px;
    z-index: 1;
    width: 140px;
    height: 40px;
    padding: 10px;
    @include mixins.transparentBackground(0.8, config.$cream);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;

    .social {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      div {
        display: flex;
      }

      p {
        font-size: config.$small-font;
        margin-left: 10px;
      }

      .icon,
      .iconRed {
        font-size: config.$big-font;
      }

      .iconRed {
        color: config.$red;
      }
    }
  }
}

.image {
  @include mixins.border-radius();
}

.back {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 10px;
}

.product {
  width: 100%;
  text-align: right;

  .description {
    margin: 20px 0px;
  }

  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    background: config.$white;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    height: 50px;
    box-shadow: config.$card-shadow;
  }

  p {
    font-size: config.$med-font;
  }
}

// item details
.itemContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.topBar,
.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .item {
    width: 220px;

    p {
      font-size: config.$big-font;
      font-weight: bold;
    }
  }
}

.topBar {
  align-items: center;
  margin-bottom: 10px;
}

.itemDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40vh;
  margin: 10px 0px;

  .item {
    position: relative;
    width: 70%;
    height: 100%;
    max-width: 260px;
    max-height: 390px;
    @include mixins.border-radius();
  }

  .subItemDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .subItem {
      width: 70px;

      .detail {
        @include mixins.border-radius();
        height: 100%;
      }
    }
  }
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;

  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    max-width: 260px;

    .color,
    .size,
    .selectedSize,
    .selectedColor {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 5px;
    }

    .size {
      border: 1px solid config.$black;
    }

    .selectedColor,
    .selectedSize {
      box-shadow: config.$image-shadow;
      @include mixins.scale-in();
    }

    .selectedSize {
      border: 1px solid config.$black;
    }
  }
}

.addCartBtn {
  width: 100%;
  max-width: 500px;
  height: 40px;
  font-size: config.$med-font;
  margin: 20px 0px;
}

.alert {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  color: config.$red;
  height: 0px;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;

  .item {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background: config.$white;
    margin: 5px 0px;
    padding: 10px 20px;
    box-shadow: config.$card-shadow;
    height: 40px;
    border-radius: 50px;
  }

  .info {
    background: config.$white;
    padding: 10px;
    @include mixins.border-radius();
    height: 200px;
    margin: 5px 0px;
  }
}
