@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

// product
.productContainer {
  position: relative;
  width: 100%;
  height: 55vh;
  @include mixins.border-radius();
  box-shadow: config.$image-shadow;
}

.image {
  @include mixins.border-radius();
}

.icon {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 10px;
}

.product {
  width: 100%;
  text-align: right;

  .description {
    margin: 20px 0px;
  }

  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    background: config.$white;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    height: 50px;
    box-shadow: config.$card-shadow;
  }

  p {
    font-size: config.$med-font;
  }
}

// item details
.itemContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.topBar,
.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .item {
    width: 220px;

    p {
      font-size: config.$big-font;
      font-weight: bold;
    }
  }
}

.topBar {
  align-items: center;
  margin-bottom: 10px;
}

.itemDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40vh;
  margin: 10px 0px;

  .item {
    position: relative;
    width: 70%;
    height: 100%;
    max-width: 260px;
    max-height: 390px;
    @include mixins.border-radius();
  }

  .subItemDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .subItem {
      width: 70px;
      // box-shadow: config.$card-shadow;
      // @include mixins.border-radius();

      .detail {
        @include mixins.border-radius();
        height: 100%;
      }
    }
  }
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;

  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    max-width: 260px;

    .color,
    .size {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 5px;
      box-shadow: config.$card-shadow;
    }

    .border {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    .size {
      border: 1px solid config.$black;
    }
  }
}

.button {
  width: 100%;
  max-width: 500px;
  height: 40px;
  font-size: config.$med-font;
  margin: 10px 0px;
}

.alert {
  color: config.$red;
  margin-bottom: 5px;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;

  div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background: config.$white;
    margin: 5px 0px;
    padding: 10px 20px;
    box-shadow: config.$card-shadow;
    height: 40px;
    border-radius: 50px;
  }
}

.popUp {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  padding: 10px;
  background: config.$white;
  box-shadow: config.$card-shadow;
  @include mixins.border-radius();

  .cross {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
