@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.form {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;

  .title {
    font-size: config.$big-font;
    margin-bottom: 10px;
    text-align: center;
  }
}

.formAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;

  button {
    margin: 10px;
  }
}

.input {
  margin: 10px 0;

  .bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .label {
    color: config.$grey;
    font-size: config.$small-font;
    margin-bottom: 5px;

    span {
      color: config.$red;
      font-size: config.$tiny-font;
    }
  }

  input {
    @include mixins.input();
    width: 100%;
  }

  p {
    display: flex;
    flex-direction: row-reverse;
  }
}

.activationContainer {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.activationCode {
  display: flex;
  flex-direction: row-reverse;

  p {
    margin: 0px 5px;
    height: 35px;
  }
}

.alert {
  display: flex;
  justify-content: center;
  color: config.$red;
  height: 10px;
  margin-bottom: 20px;
}
