@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.form {
  width: 100%;
  margin-top: 10px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: config.$big-font;
    margin-bottom: 10px;
    text-align: center;
  }

  .subTitle {
    font-size: config.$small-font;
    margin-bottom: 10px;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }

  .label {
    font-size: config.$small-font;
    margin-bottom: 10px;
  }
}

.formAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;

  button {
    margin: 10px;
  }
}

.input {
  margin: 10px 0;

  input {
    @include mixins.input();
    width: 100%;
  }

  p {
    display: flex;
    flex-direction: row-reverse;
  }
}

.alert {
  display: flex;
  justify-content: center;
  color: config.$red;
  height: 10px;
  margin-bottom: 20px;
}
