@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.description {
  width: 100%;
  height: calc(100vh - 50px);
  padding: 10px;
  margin-top: 50px;
  text-align: right;
  overflow-y: scroll;

  .row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  p {
    margin: 0px 5px;
  }

  .logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.videoContainer {
  width: 100%;
  height: 60%;
  margin-bottom: 20px;
  @include mixins.border-radius();
  box-shadow: config.$image-shadow;

  .video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    @include mixins.border-radius();
  }
}
