@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  button {
    margin-top: 20px;
    @include mixins.ctaButton();
  }

  .alert {
    display: flex;
    justify-content: center;
    color: config.$orange;
    height: 20px;
  }

  .input {
    margin-bottom: 20px;

    .bar {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    select,
    input,
    textarea {
      @include mixins.input();
      width: 100%;
    }

    select {
      height: 50px;
    }

    textarea {
      height: 70px;
      resize: none;
    }

    p {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 12px;
    }
  }

  .label {
    color: config.$grey;
    text-align: right;

    span {
      color: config.$orange;
      font-size: config.$tiny-font;
    }
  }

  .logout {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    p {
      border-bottom: 1px solid config.$black;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 12px 0px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 60%;
  margin-bottom: 20px;

  .nav,
  .navActive {
    padding: 12px;
    height: 40px;
    width: 100px;
    text-align: center;
    background: config.$white;
    @include mixins.border-radius();

    &:hover {
      cursor: pointer;
    }
  }

  .navActive {
    background: config.$brand;
  }
}

.invoiceContainer {
  padding: 12px;
  padding-top: 0px;

  .text {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    color: config.$grey;
    font-size: config.$tiny-font;
  }
}

.invoiceData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45%;
  }

  .row {
    display: flex;
    flex-direction: row;

    p {
      margin-right: 12px;
      font-weight: 300;
    }
  }

  p {
    font-weight: bold;
  }
}
