@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px;
  margin: 10px;

  button {
    margin-top: 20px;
  }

  .alert {
    display: flex;
    justify-content: center;
    color: config.$orange;
    height: 20px;
  }

  .input {
    margin-bottom: 20px;

    .bar {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    select,
    input,
    textarea {
      @include mixins.input();
      width: 100%;
    }

    select {
      height: 50px;
    }

    textarea {
      height: 70px;
      resize: none;
    }

    p {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 10px;
    }
  }

  .label {
    color: config.$grey;
    text-align: right;

    span {
      color: config.$orange;
      font-size: config.$tiny-font;
    }
  }

  .logout {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    p {
      border-bottom: 1px solid config.$black;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 10px 0px;
}
