@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: config.$white;
  box-shadow: config.$card-shadow;
  @include mixins.border-radius();
  padding: 20px 10px;
  margin: 10px;

  button {
    margin-top: 20px;
  }

  .alert {
    display: flex;
    justify-content: center;
    color: config.$red;
    height: 20px;
  }

  .input {
    margin-bottom: 20px;

    .bar {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .label {
      color: config.$grey;

      span {
        color: config.$red;
        font-size: config.$tiny-font;
      }
    }

    input,
    textarea {
      @include mixins.input();
      width: 100%;
    }

    textarea {
      height: 70px;
      resize: none;
    }

    p {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 10px;
    }
  }

  .logout {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    p {
      border-bottom: 1px solid config.$black;
    }
  }
}
