@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.popup {
  position: absolute;
  width: 100%;
  height: calc(100vh - 50px);
  background: config.$white;
  @include mixins.transparentBackground(0.4, config.$brand);

  .content {
    position: relative;
    transform: translateY(50%);
    padding: 10px;
    background: config.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    @include mixins.border-radius();
  }

  .title {
    font-size: config.$med-font;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    font-size: config.$small-font;
    text-align: right;
  }

  .items {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 5px;
  }

  button {
    width: 100%;
    font-size: config.$med-font;
    margin-top: 20px;
  }
}
