@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  @include mixins.slide-top();
}

.items {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
  position: relative;
}

.menu {
  position: relative;
  width: 100%;
  background: config.$cream;
  box-shadow: config.$card-shadow;
  padding-bottom: 20px;
  padding-top: 10px;
  min-height: 700px;

  .list {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 10px 10px;

    .item {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      height: 40px;
      margin-bottom: 5px;

      p {
        font-size: config.$med-font;
        margin-right: 10px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .logo {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .cross {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;

    .user {
      display: flex;
      flex-direction: row;

      p {
        font-size: config.$med-font;
        margin-left: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  .button {
    margin-bottom: 20px;
    @include mixins.heartbeat();
  }

  .alert {
    color: config.$orange;
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 10px;

  .row,
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 5px 0px;
  }

  .social {
    width: 70px;
  }
}
