@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.background {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  backdrop-filter: blur(3px);
  @include mixins.transparentBackground(0.3, config.$black);
}

.close {
  width: 20%;
  min-width: 120px;
}

.items {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
  position: relative;
}

.menu {
  width: 100%;
  max-width: 300px;
  background: config.$white;
  box-shadow: config.$display-shadow;
  padding-bottom: 20px;
  padding-top: 10px;

  .list {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 20px 10px;

    .item {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin: 10px 0px;
      height: 30px;

      p {
        font-size: config.$med-font;
        margin-right: 10px;
      }

      &:hover {
        background: config.$cream;
        cursor: pointer;
      }
    }
  }

  .logo {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .cross {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0px 10px;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  button {
    margin-bottom: 20px;
  }
}
