@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  backdrop-filter: blur(3px);
  @include mixins.transparentBackground(0.3, config.$black);
  // @include mixins.slide();
}

.menu {
  width: 80%;
  max-width: 300px;
  overflow-y: scroll;
  background: config.$white;
  box-shadow: config.$display-shadow;
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .list {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 20px 0px;

    .item {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin: 10px 0px;
      height: 30px;

      p {
        font-size: config.$med-font;
        margin-right: 10px;
      }

      &:hover {
        background: config.$cream;
        cursor: pointer;
      }
    }
  }

  .cross {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  button {
    margin-bottom: 20px;
  }

  .logo {
    width: 100%;
  }
}
