@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  @include mixins.slide-top();
}

.items {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
  position: relative;
}

.menu {
  position: relative;
  width: 100%;
  background: config.$cream;
  box-shadow: config.$card-shadow;
  padding-bottom: 20px;
  padding-top: 12px;
  min-height: 700px;

  .list {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 12px 12px;

    .item {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      height: 35px;
      margin-bottom: 8px;

      p {
        font-size: config.$small-font;
        margin-right: 12px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .logo {
    display: flex;
    flex-direction: column;
  }

  .cross {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    margin-bottom: 16px;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        font-size: config.$med-font;
        margin: 0px 12px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  .button {
    margin-bottom: 12px;
    @include mixins.ctaButton();
    @include mixins.heartbeat();
  }

  .alert {
    color: config.$orange;
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 12px;

  button {
    @include mixins.ctaButton();
    width: 100px;
  }

  .row,
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 5px 0px;
    text-align: center;
  }

  .social {
    width: 100px;
  }
}
