@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
}

.header {
  width: 100%;
  text-align: center;
  background: linear-gradient(config.$brand, config.$cream);

  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0px 10px;

    .brandContainer {
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }
    }

    .brand {
      display: flex;
      margin: 0px 10px;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    padding: 0px 10px;

    .nav {
      font-size: config.$small-font;
      color: config.$black;
      border-bottom: 2px solid config.$cream;
    }

    .navActive {
      font-size: config.$small-font;
      color: config.$black;
      border-bottom: 2px solid config.$brand;
      font-weight: bold;
    }

    p {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
