@use "styles/_config.scss" as config;

.container {
  position: relative;
}

.header {
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, config.$brand, config.$cream);

  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: 0px;
    padding: 0px 10px;

    .brand {
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }
    }

    .card {
      display: flex;
      align-items: center;
      position: relative;

      p {
        position: absolute;
        left: 25px;
        bottom: 15px;
        color: config.$red;
        font-size: config.$small-font;
      }
    }
  }

  .navigation {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;

    .nav {
      font-size: config.$small-font;
      color: config.$black;
    }

    .navActive {
      font-size: config.$small-font;
      color: config.$black;
      border-bottom: 2px solid config.$brand;
    }
  }
}
