@use "styles/_config.scss" as config;

.container {
  position: relative;
}

.header {
  width: 100%;
  background: config.$brand;
  text-align: center;
  background: linear-gradient(to bottom, config.$brand, config.$cream);

  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: config.$black;
    font-family: config.$englishFont;
    margin: 0px;
    padding: 10px;

    .brand {
      font-family: config.$englishFont;
      font-size: config.$brand-font;
      width: 110px;
      height: 30px;
      line-height: 50px;
    }
  }

  .navigation {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
}

.header a {
  text-decoration: none;
  font-size: config.$med-font;
  color: config.$black;
  padding: 5px;
}

.header a:hover,
.header a:active,
.header a.active {
  color: config.$black;
  padding: 5px;
  border-radius: 5px;
  border-bottom: 3px solid config.$brand;
}
