@use "styles/_config.scss" as config;

.container {
  position: relative;
}

.header {
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, config.$brand, config.$cream);

  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: 0px;
    padding: 0px 10px;

    .brand {
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .navigation {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
  }
}

.header a {
  text-decoration: none;
  font-size: config.$med-font;
  color: config.$black;
}

.header a:hover,
.header a:active,
.header a.active {
  color: config.$black;
  border-radius: 5px;
  border-bottom: 2px solid config.$brand;
}
