@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  @include mixins.slide-top();
}

.menu {
  position: relative;
  width: 100%;
  max-width: 500px;
  background: config.$cream;
  box-shadow: config.$card-shadow;
  overflow-y: scroll;
  min-height: 700px;

  .topBar {
    position: absolute;
    top: 0px;
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, config.$brand, config.$cream);

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: config.$big-font;
      }

      .count {
        margin-right: 10px;
      }
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 10px;
    height: calc(100% - 180px);
    margin-top: 50px;
    overflow-y: scroll;

    .item {
      position: relative;
      width: 100%;
      background: config.$white;
      box-shadow: config.$card-shadow;
      margin: 10px 0px;
      padding: 10px;
      @include mixins.border-radius();

      p {
        font-size: config.$med-font;
      }

      .close {
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        right: 10px;
        bottom: 10px;
      }

      .cart {
        position: relative;

        .image {
          @include mixins.border-radius();
          object-position: 50% 0%;
        }

        .information {
          position: absolute;
          right: 0px;
          top: 0px;
          width: 50%;

          .title,
          .options {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            p {
              font-weight: bold;
            }
          }

          .options {
            position: absolute;
            right: 0px;
            width: 40%;
          }

          .color,
          .size {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33px;
            height: 33px;
            border-radius: 50%;
            font-size: config.$tiny-font;
          }

          .size {
            border: 1px solid config.$black;
          }
        }
      }
    }
  }

  .orders {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    height: calc(100% - 50px);
    margin-top: 50px;
    overflow-y: scroll;

    .order {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      position: relative;
      background: config.$white;
      box-shadow: config.$card-shadow;
      margin: 10px 0px;
      padding: 10px;
      @include mixins.border-radius();

      .rows {
        width: 100%;
        margin-left: 20px;
      }

      .row {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0px;
        border-bottom: 1px solid config.$cream;

        p {
          font-size: config.$small-font;
        }

        .title {
          color: config.$grey;
          font-size: config.$tiny-font;
          margin-left: 10px;
        }

        .color,
        .size {
          width: 25px;
          height: 25px;
          border-radius: 50%;
        }

        .size {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid config.$black;
          font-size: config.$tiny-font;
        }
      }
    }
  }

  .graphic {
    opacity: 0.5;
    height: 100%;
    position: relative;

    a {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 10px;
      color: config.$grey;
    }
  }

  .details {
    position: absolute;
    bottom: 0px;
    height: 130px;
    width: 100%;
    padding: 0px 10px;
    @include mixins.border-radius();
    display: flex;
    flex-direction: column;

    .button {
      width: 100%;
      max-width: 500px;
      height: 40px;
      font-size: config.$med-font;
    }

    .detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 5px 0px;

      .value {
        font-size: config.$big-font;
      }
    }
  }

  .form,
  .register {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    .title {
      font-size: config.$big-font;
      margin: 20px 0px;
    }

    .subTitle {
      font-size: config.$small-font;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }

    .label {
      display: flex;
      flex-direction: row-reverse;
      font-size: config.$small-font;
      margin-bottom: 5px;
      color: config.$grey;

      span {
        color: config.$orange;
        font-size: config.$tiny-font;
      }
    }
  }

  .register {
    margin-top: 70px;

    p {
      font-size: config.$med-font;
      margin-bottom: 10px;
    }

    button {
      margin-top: 20px;
    }
  }

  .bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .input {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px 0;

    input,
    textarea {
      @include mixins.input();
      background: config.$cream;
    }

    textarea {
      height: 90px;
      resize: none;
    }
  }

  .alert {
    color: config.$orange;
    margin-top: 20px;
  }
}
