@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.background {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  backdrop-filter: blur(3px);
  @include mixins.transparentBackground(0.3, config.$black);
}

.menu {
  width: 100%;
  max-width: 500px;
  background: config.$cream;
  box-shadow: config.$card-shadow;

  .topBar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, config.$brand, config.$cream);

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: config.$big-font;
      }

      .count {
        color: config.$red;
        margin-right: 10px;
      }
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 10px;
    height: calc(100% - 180px);
    overflow-y: scroll;

    .item {
      position: relative;
      width: 100%;
      background: config.$white;
      box-shadow: config.$card-shadow;
      margin: 10px 0px;
      padding: 10px;
      @include mixins.border-radius();

      p {
        font-size: config.$med-font;
      }

      .close {
        display: flex;
        flex-direction: row-reverse;
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
      }

      .color,
      .size {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .size {
        border: 1px solid config.$black;
      }
    }
  }

  .details {
    position: absolute;
    bottom: 0px;
    height: 130px;
    width: 100%;
    padding: 0px 10px;
    @include mixins.border-radius();
    display: flex;
    flex-direction: column;

    .button {
      width: 100%;
      max-width: 500px;
      height: 40px;
      font-size: config.$med-font;
    }

    .detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 5px 0px;
      font-size: config.$med-font;
    }
  }

  .form {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: config.$big-font;
      margin: 20px 0px;
    }

    .subTitle {
      font-size: config.$small-font;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }

    .label {
      display: flex;
      flex-direction: row-reverse;
      font-size: config.$small-font;
      margin-bottom: 10px;
      color: config.$grey;
    }
  }

  .input {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px 0;

    input,
    textarea {
      @include mixins.input();
    }

    textarea {
      height: 80px;
      resize: none;
    }
  }

  .alert {
    color: config.$red;
    margin-top: 20px;
  }
}
