@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.slider {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  @include mixins.slide-top();
}

.payment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: config.$cream;
}

.menu {
  position: relative;
  width: 100%;
  max-width: config.$max-width;
  background: config.$cream;
  box-shadow: config.$card-shadow;
  overflow-y: scroll;

  .topBar {
    position: absolute;
    top: 0px;
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, config.$brand, config.$cream);

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: config.$big-font;
      }

      .count {
        margin-right: 10px;
      }
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 10px;
    height: calc(100% - 220px);
    margin-top: 50px;
    overflow-y: scroll;

    .item {
      position: relative;
      width: 100%;
      background: config.$white;
      box-shadow: config.$card-shadow;
      margin-top: 10px;
      padding: 10px;
      @include mixins.border-radius();

      .close {
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        right: 10px;
        bottom: 5px;
      }

      .sale {
        font-size: config.$small-font;
        color: config.$green;
      }

      .message {
        margin-top: 10px;
        color: config.$orange;
        position: absolute;
        right: 0px;
        bottom: 10px;
      }

      .cart {
        position: relative;

        .imageContainer {
          display: flex;
          align-items: center;

          .image {
            @include mixins.border-radius();
          }
        }

        .information {
          position: absolute;
          right: 0px;
          top: 0px;
          width: 60%;
          height: 125px;

          .title,
          .options {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            text-align: right;

            p {
              font-weight: bold;
            }
          }

          .options {
            position: absolute;
            right: 0px;
            width: 40%;
          }

          .id {
            font-size: config.$small-font;

            .code {
              color: config.$grey;
              font-size: config.$tiny-font;
            }
          }

          .color,
          .size {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: config.$med-font;
          }

          .color {
            box-shadow: config.$image-shadow;
          }
        }
      }
    }
  }

  .graphic {
    opacity: 0.3;
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    text-align: center;

    a {
      opacity: 0.5;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 10px;
      color: config.$grey;
    }
  }

  .details {
    position: absolute;
    bottom: 0px;
    height: 170px;
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    @include mixins.border-radius();

    .button {
      width: 100%;
      height: 40px;
      max-width: config.$max-width;
      font-size: config.$med-font;
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 5px 0px;

      .value {
        font-size: config.$med-font;
      }

      .title {
        color: config.$grey;
        margin-left: 10px;
      }

      .discountRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .price {
          text-decoration: line-through;
          color: config.$grey;
          font-weight: 300;
          font-size: config.$small-font;
          margin-right: 10px;
        }

        .percentage {
          color: config.$red;
          font-weight: bold;
          margin-left: 5px;
        }
      }
    }
  }

  .register {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    .title {
      font-size: config.$big-font;
      margin-bottom: 20px;
    }

    .info {
      display: flex;
      flex-direction: column;
      width: 100%;

      .bar {
        display: flex;
        flex-direction: column;
        text-align: right;
      }
    }

    .label {
      display: flex;
      flex-direction: row-reverse;
      font-size: config.$small-font;
      color: config.$grey;
      min-width: 120px;
    }

    p {
      font-size: config.$med-font;
      margin-bottom: 10px;
    }

    button {
      margin-top: 10px;
    }
  }

  .alert {
    color: config.$orange;
    margin-top: 10px;
  }
}

.orders {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0px;
  height: calc(100% - 50px);
  margin-top: 50px;
  overflow-y: scroll;

  .order {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    background: config.$white;
    box-shadow: config.$card-shadow;
    margin-top: 10px;
    padding: 10px;
    @include mixins.border-radius();

    .rows {
      width: 100%;
      margin-left: 20px;
    }

    .row,
    .features {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0px;
      border-bottom: 1px solid config.$cream;

      p {
        font-size: config.$small-font;
      }

      .title {
        color: config.$grey;
        font-size: config.$tiny-font;
        margin-left: 10px;
      }

      .color,
      .size {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }

      .color {
        box-shadow: config.$image-shadow;
      }

      .size {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .features {
      justify-content: space-around;
      border: none;
      margin-top: 15px;
    }

    .status {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;

      span {
        margin-right: 10px;
      }
    }
  }

  .image {
    @include mixins.border-radius();
  }
}
