@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.input {
  margin: 12px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px;

  .bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .label {
    color: config.$grey;
    font-size: config.$small-font;
    margin-bottom: 5px;

    span {
      color: config.$orange;
      font-size: config.$tiny-font;
    }
  }

  input,
  textarea,
  select {
    @include mixins.input();
    width: 100%;
    background: config.$cream;
  }

  textarea {
    height: 90px;
    resize: none;
  }

  select {
    height: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  .size {
    width: 100%;
  }
}

.image {
  @include mixins.border-radius();
  object-position: 50% 0%;
}

.alert {
  display: flex;
  justify-content: center;
  color: config.$orange;
  height: 12px;
  margin-bottom: 20px;
}

.invoiceContainer {
  padding: 12px;

  .navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      @include mixins.ctaButton();
    }
  }
}

.infoBar {
  margin: 12px 0px;
  font-size: config.$med-font;
  text-align: center;
  font-weight: bold;
}

.infoCard {
  background: config.$white;
  box-shadow: config.$card-shadow;
  margin-top: 12px;
  padding: 12px;
  @include mixins.border-radius();
  user-select: text;

  .row,
  .subRow,
  .bloggerRow {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 4px 0px;
    padding: 4px 0px;
    border-bottom: 1px solid config.$cream;

    .title {
      color: config.$grey;
      font-size: config.$tiny-font;
      margin-left: 12px;
      text-align: right;
    }

    .color {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      box-shadow: config.$image-shadow;
    }
  }

  .subRow {
    min-width: 200px;
  }

  .bloggerPercentage {
    width: 50%;
  }

  .bloggerRow {
    max-width: 200px;
    border-bottom: none;
  }

  .button {
    @include mixins.button(config.$brand, config.$black, 100%);
    margin-top: 20px;
  }

  select,
  input {
    @include mixins.input();
    height: 50px;
    background: config.$white;
  }

  input {
    width: 200px;
  }
}

.sizeContainer {
  width: 100%;
}

.sizeNav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0px;
}

.sizeGraphContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 12px 0px;

  .graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid config.$cream;

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid config.$black;
    }

    p {
      font-size: config.$tiny-font;
    }
  }
}

.sizeGraph {
  border-bottom: 1px solid config.$black;
  padding: 12px;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  padding: 0px 12px;

  .name {
    font-weight: bold;
    font-size: config.$big-font;
  }
}

.confirmPage {
  button {
    margin-top: 20px;
    @include mixins.ctaButton();
  }

  .confirmationContainer {
    width: 100%;
    height: 100vh;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .row {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 5px 0px;
      padding: 5px 0px;

      .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    }

    .title {
      text-align: center;
      font-weight: bold;
      font-size: config.$med-font;
    }
  }

  .rejectContainer {
    width: 100%;
    height: 100vh;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .rejectMsg {
      font-size: config.$med-font;
      color: config.$red;
      margin-bottom: 12px;
    }
  }
}

.blogger {
  padding: 12px;
  text-align: right;

  .iconPink {
    color: config.$pink;
  }

  .bio {
    margin-top: 12px;
  }

  .socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;

    .social {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0px 12px;

      .value {
        font-weight: bold;
        margin-right: 12px;
      }

      .shareIcon {
        @include mixins.favour();
      }
    }

    button {
      margin: 0px;
      @include mixins.ctaButton();
    }
  }

  .row {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 0px;

    .title {
      font-size: config.$small-font;
      font-weight: bold;
      margin-right: 12px;
    }
  }

  .imageContainer {
    position: relative;
    width: 100%;
    height: 250px;
    box-shadow: config.$image-shadow;
    @include mixins.border-radius();

    .image {
      width: 100%;
      height: 100%;
      object-position: 100% 30%;
      @include mixins.border-radius();
    }
  }

  .name {
    margin: 12px 0px;
    font-size: config.$big-font;
    font-weight: bold;
  }

  .productContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    padding-bottom: 12px;
    font-size: config.$tiny-font;
  }

  .text {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    color: config.$grey;
    font-size: config.$tiny-font;
    margin-bottom: 12px;
  }

  .product {
    position: relative;
    height: 200px;
    width: 100%;
    box-shadow: config.$image-shadow;
    @include mixins.border-radius();

    .image {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 12px;
  }
}
