@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.input {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .label {
    color: config.$grey;
    font-size: config.$small-font;
    margin-bottom: 5px;

    span {
      color: config.$orange;
      font-size: config.$tiny-font;
    }
  }

  input,
  textarea,
  select {
    @include mixins.input();
    width: 100%;
    background: config.$cream;
  }

  textarea {
    height: 90px;
    resize: none;
  }

  select {
    height: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  .size {
    width: 100%;
  }
}

.image {
  @include mixins.border-radius();
  object-position: 50% 0%;
}

.alert {
  display: flex;
  justify-content: center;
  color: config.$orange;
  height: 10px;
  margin-bottom: 20px;
}

.invoiceContainer {
  padding: 10px;

  .navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav,
    .navActive {
      padding: 10px;
      height: 40px;
      width: 120px;
      text-align: center;
      background: config.$white;
      @include mixins.border-radius();

      &:hover {
        cursor: pointer;
      }
    }

    .navActive {
      background: config.$brand;
    }
  }

  .info {
    margin: 20px 0px;
    font-size: config.$med-font;
    text-align: center;
    font-weight: bold;
  }

  .invoice {
    background: config.$white;
    box-shadow: config.$card-shadow;
    margin-top: 10px;
    padding: 10px;
    @include mixins.border-radius();
    user-select: text;

    .row,
    .subRow {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 5px 0px;
      padding: 5px 0px;
      border-bottom: 1px solid config.$cream;

      .title {
        color: config.$grey;
        font-size: config.$tiny-font;
        margin-left: 10px;
      }

      .color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-shadow: config.$image-shadow;
      }
    }

    .button {
      @include mixins.button(config.$brand, config.$black, 100%);
      margin-top: 20px;
    }
  }

  .subRow {
    min-width: 200px;
  }
}

.sizeContainer {
  width: 100%;
}

.sizeNav {
  margin: 20px 0px;
}

.sizeGraphContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;

  .graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid config.$cream;

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid config.$black;
    }

    p {
      font-size: config.$tiny-font;
    }
  }
}

.sizeGraph {
  border-bottom: 1px solid config.$black;
  padding: 10px;
}

.confirmationContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px;
    padding: 5px 0px;
  }

  .title {
    text-align: center;
    font-weight: bold;
  }

  .orders {
    margin: 0px;
    padding: 0px;
  }
}
