@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  bottom: 12px;
  right: 0px;
  z-index: 1;
  height: 40px;
  padding: 12px;
  @include mixins.transparentBackground(0.8, config.$cream);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;

  .social {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px 5px;

    div {
      display: flex;
    }

    p {
      font-size: config.$small-font;
      margin: 0px 5px;
    }

    .icon,
    .iconRed,
    .iconPink {
      font-size: config.$big-font;
      cursor: pointer;
      width: 25px;
      height: 25px;
    }

    .iconRed {
      color: config.$red;
      @include mixins.favour();
    }

    .iconPink {
      color: config.$pink;
      @include mixins.favour();
    }
  }
}

.shareIcon {
  @include mixins.favour();
}

.back {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 12px;
}

.productContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px 12px;
  margin-top: 20px;

  .sale {
    font-size: config.$small-font;
    color: config.$red;
    font-weight: bold;
  }

  .imagePopup {
    position: absolute;
    width: calc(100% - 24px);
    height: 600px;
    z-index: 2;
    box-shadow: config.$image-shadow;
    @include mixins.border-radius();

    .image {
      @include mixins.border-radius();
    }
  }
}

.topBar,
.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topBar {
  align-items: center;
  margin-bottom: 12px;

  .sectionId {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    .id {
      user-select: text;
    }
  }
}

.similarContainer {
  text-align: right;

  .grid {
    padding: 0px;

    .image {
      @include mixins.border-radius();
    }
  }

  .title {
    margin: 20px 0px;
  }
}

.productImages {
  display: flex;
  flex-direction: column;
  margin: 12px 0px;
  height: 600px;

  .product {
    position: relative;
    height: 100%;
    @include mixins.border-radius();
    box-shadow: config.$image-shadow;

    .image {
      object-position: 100% 10%;
      @include mixins.border-radius();
    }
  }

  .subItemProduct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

    .subProduct {
      display: flex;
      align-items: center;
      justify-content: right;

      .productImage {
        @include mixins.border-radius();
        object-position: 100% 0%;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.priceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: config.$med-font;

  .title {
    text-align: right;
    width: 40%;
  }

  .discount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .price {
      text-decoration: line-through;
      font-weight: 300;
      margin: 0px 12px;
      color: config.$grey;
      font-size: config.$small-font;
    }
  }
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 12px 0px;

  .description {
    font-size: config.$small-font;
    text-align: right;
    border-bottom: 1px solid config.$brand;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    width: 100%;
    margin: 5px 0px;
  }

  .sectionId {
    margin-bottom: 12px;
  }

  .title {
    display: flex;
    flex-direction: row-reverse;
  }

  .box {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 5px;

    .color,
    .size,
    .selectedSize,
    .selectedColor {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      margin: 5px;
      font-size: config.$small-font;

      &:hover {
        cursor: pointer;
      }

      p {
        width: 20px;
        height: 20px;
        text-align: center;
      }
    }

    .color,
    .selectedColor {
      p {
        color: config.$white;
      }
    }

    .size {
      border: 1px solid config.$black;
    }

    .selectedColor,
    .selectedSize {
      box-shadow: config.$image-shadow;
      @include mixins.scale-in();
    }

    .selectedSize {
      background: config.$brand;
    }

    .selectedColor {
      border: 2px solid config.$brand;
    }
  }
}

.countContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: 0px;

  .count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;

    p {
      margin-left: 12px;
      font-weight: 300;
    }
  }
}

.button,
.deactivate,
.activate,
.hidden {
  @include mixins.button(config.$brand, config.$black, 100%);
  max-width: config.$max-width;
  height: 40px;
  font-size: config.$med-font;
  margin: 20px 0px;
}

.adminAction {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 12px;

  .deactivate {
    @include mixins.button(config.$orange, config.$white, 100%);
    width: 100px;
  }

  .activate {
    @include mixins.button(config.$green, config.$white, 100%);
    width: 100px;
  }

  .hidden {
    @include mixins.button(config.$red, config.$white, 100%);
    width: 100px;
  }
}

.alert {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  color: config.$orange;
  height: 0px;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: config.$max-width;
  margin-top: 12px;

  .section {
    background: config.$white;
    box-shadow: config.$card-shadow;
    margin: 5px 0px;
    padding: 12px;
    @include mixins.border-radius();
  }

  .item {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    @include mixins.border-radius();
    color: config.$grey;

    &:hover {
      cursor: pointer;
    }
  }

  .table {
    position: relative;
    height: 150px;
    margin: 5px 0px;
  }

  .description {
    text-align: right;
    font-size: config.$tiny-font;
    margin: 12px 0px;
  }

  .information {
    .title {
      text-align: center;
      font-weight: bold;
    }

    .row {
      display: flex;
      flex-direction: row-reverse;
      margin: 12px 0px;

      .description {
        margin: 0px;
        margin-right: 5px;
      }
    }
  }
}

.rowDetails {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 4px 0px;

  .title {
    font-size: config.$med-font;
    font-weight: bold;
    margin-right: 12px;
  }
}

.designContainer {
  display: flex;
  flex-direction: column;

  .category {
    background: config.$white;
    width: 100px;
    text-align: center;
    padding: 5px;
    @include mixins.border-radius();
  }
}

.graphic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 12px;

  p {
    font-size: config.$tiny-font;
    color: config.$grey;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
  }
}
