@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.input {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .label {
    color: config.$grey;
    font-size: config.$small-font;
    margin-bottom: 5px;

    span {
      color: config.$orange;
      font-size: config.$tiny-font;
    }
  }

  input,
  textarea {
    @include mixins.input();
    width: 100%;
    background: config.$cream;
  }

  textarea {
    height: 90px;
    resize: none;
  }

  .size {
    width: 100%;
  }
}

.image {
  @include mixins.border-radius();
  object-position: 50% 0%;
}

.alert {
  display: flex;
  justify-content: center;
  color: config.$orange;
  height: 10px;
  margin-bottom: 20px;
}
