@import url("https://fonts.googleapis.com/css2?family=Average+Sans&display=swap");

$font: "Average Sans", sans-serif;

$brand: #b2ffef;
$cream: #f9f7f2;
$black: #1b1b1b;
$white: #ffffff;

$red: #d40d12;
$green: #45bf55;
$grey: #969696;

$tiny-font: 0.75rem; // 12px
$small-font: 1rem; // 16px
$med-font: 1.125rem; // 18px
$big-font: 1.25rem; // 20px

$max-width: 500px;

$image-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
$card-shadow: 0 5px 20px -10px rgba(150, 150, 150, 0.3);
$button-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
