@import url("https://fonts.googleapis.com/css2?family=Average+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

$englishFont: "Average Sans", sans-serif;
$farsiFont: "Cutive Mono", monospace;

$brand: #b2ffef;
$cream: #f9f7f2;
$black: #1b1b1b;
$white: #ffffff;

$red: #d32f2f;
$green: #28b063;
$grey: #d7d7d7;
$orange: #f36e21;

$small-font: 16px;
$med-font: 18px;
$big-font: 20px;
$brand-font: 22px;

$max-width: 900px;

$display-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
$button-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
