@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;500&display=swap");

$font: "Vazirmatn", sans-serif;

$brand: #b2ffef;
$cream: #f9f7f2;
$black: #1b1b1b;
$white: #ffffff;

$red: #d40d12;
$orange: #f15a22;
$green: #57a361;
$grey: #969696;
$pink: #e515b5;

$tiny-font: 0.875rem; // 12px
$small-font: 1rem; // 16px
$med-font: 1.125rem; // 18px
$big-font: 1.25rem; // 20px

$max-width: 600px;

$image-shadow: 0px 5px 10px rgba(78, 78, 78, 0.2);
$card-shadow: 0 5px 20px -10px rgba(150, 150, 150, 0.3);
$button-shadow: 0px 0px 30px rgba(150, 150, 150, 0.3);
