@use "mixins" as mixins;
@use "config" as config;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: config.$font;
}

body {
  max-width: config.$max-width;
  margin: auto;
  background: config.$cream;
  user-select: none;
  color: config.$black;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.icon {
  cursor: pointer;
}

.icon-grey {
  cursor: pointer;
  color: config.$grey;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 99;
}

.mainButton {
  @include mixins.button(config.$brand, config.$black, 100px);
}

.subButton {
  @include mixins.button(config.$cream, config.$black, 100px);
}

.highlight {
  padding: 12px;
  padding-bottom: 0px;

  h4 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 8px;
  }
}

.collections-type {
  padding: 12px;
  padding-bottom: 0px;

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60vh;
    margin-bottom: 12px;
    box-shadow: config.$image-shadow;
    @include mixins.border-radius();
    @include mixins.gradientBorder();

    &:hover {
      cursor: pointer;
    }

    .image {
      width: 100%;
      height: 100%;
      object-position: 100% 30%;
      border-radius: 10px;
    }

    .ctaCollection {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 40px;
      z-index: 1;
      width: 50%;
      height: 40px;
      margin: auto;
      border-radius: 50px;
      font-weight: bold;
      opacity: 0.8;
      box-shadow: config.$image-shadow;
      @include mixins.gradientBackground();
    }
  }
}

.ctaButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  margin: auto;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 8px;
  box-shadow: config.$image-shadow;
  @include mixins.gradientBackground();
}

.message {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 12px;
  max-width: config.$max-width;
  font-size: config.$tiny-font;
}

.collection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 12px;

  .image {
    @include mixins.border-radius();
  }

  .product {
    position: relative;
    width: 100%;
    height: 280px;
    box-shadow: config.$image-shadow;
    @include mixins.border-radius();

    &:hover {
      cursor: pointer;
    }

    .banner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 12px;
      right: 0px;
      z-index: 1;
      padding: 5px;
      width: 100%;
      @include mixins.transparentBackground(0.8, config.$cream);

      .title {
        margin: 0px;
        font-weight: bold;
        font-size: config.$tiny-font;
        text-align: left;
      }

      .social {
        display: flex;
        flex-direction: row;
        align-items: center;

        div {
          display: flex;
        }

        .icon,
        .iconRed,
        .iconPink {
          font-size: config.$med-font;
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }

        .iconRed {
          color: config.$red;
          @include mixins.favour();
        }

        .iconPink {
          color: config.$pink;
          @include mixins.favour();
        }

        .count {
          font-size: config.$tiny-font;
        }
      }
    }

    .new,
    .activate {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 12px;
      right: 0px;
      z-index: 1;
      font-size: config.$tiny-font;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      padding: 3px;
      width: 70px;
    }

    .sale {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: absolute;
      top: 12px;
      right: 0px;
      z-index: 1;
      font-weight: bold;
      font-size: config.$tiny-font;
      color: config.$red;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      width: 50px;
      padding: 3px;
      @include mixins.transparentBackground(0.8, config.$cream);

      p {
        position: relative;
        top: 1px;
      }
    }

    .activate,
    .blogger {
      left: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      width: 50px;
      color: config.$white;
      @include mixins.transparentBackground(0.8, config.$orange);
    }

    .new {
      position: absolute;
      top: 180px;
      color: config.$black;
      width: 50px;
      @include mixins.gradientBackground();
    }
  }
}

.container-list {
  margin-top: 50px;
  overflow-y: scroll;
}

.shoppingcart-icon {
  display: flex;
  align-items: center;
  position: relative;

  .search {
    position: absolute;
    right: 30px;
  }

  p {
    position: absolute;
    left: 30px;
    bottom: 0px;
    min-height: 30px;
    min-width: 30px;
    text-align: left;
    font-size: config.$small-font;
  }
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;

  .input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    margin: 12px 0px;

    input {
      margin-top: 12px;
    }
  }

  button {
    @include mixins.ctaButton();
  }
}

.user-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  gap: 12px;
  padding: 12px;
}

.navigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
}

.loadAppUpdate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: auto;
  height: 100vh;

  p {
    margin-top: 12px;
    margin-bottom: 30px;
    font-weight: bold;
  }
}
