@use "mixins" as mixins;
@use "config" as config;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: config.$max-width;
  margin: auto;
  font-family: config.$font;
  background: config.$cream;
  user-select: none;
  color: config.$black;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  cursor: pointer;
}

.icon-grey {
  cursor: pointer;
  color: config.$grey;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 99;
}

.mainButton {
  @include mixins.button(config.$brand, config.$black, 120px);
  font-family: config.$font;
}

.subButton {
  @include mixins.button(config.$black, config.$brand, 120px);
  font-family: config.$font;
}

.collections-type {
  padding: 10px;
  padding-bottom: 0px;
  position: relative;

  .card {
    position: relative;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    box-shadow: config.$image-shadow;
    @include mixins.border-radius();

    .image {
      width: 100%;
      height: 100%;
      object-position: 100% 30%;
      @include mixins.border-radius();
    }

    .banner {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      position: relative;
      top: 110px;
      z-index: 1;
      width: 80px;
      height: 30px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      @include mixins.transparentBackground(0.8, config.$brand);
    }
  }
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 10px;
  padding: 10px;

  .image {
    @include mixins.border-radius();
  }

  .product {
    position: relative;
    width: 100%;
    height: 230px;
    box-shadow: config.$image-shadow;
    @include mixins.border-radius();

    .banner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      position: absolute;
      bottom: 10px;
      right: 0px;
      z-index: 1;
      width: 60%;
      max-width: 120px;
      height: 25px;
      padding: 10px;
      @include mixins.transparentBackground(0.8, config.$cream);
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;

      .social {
        display: flex;
        flex-direction: row;
        align-items: center;

        div {
          display: flex;
        }

        p {
          font-size: config.$tiny-font;
          margin-right: 5px;
        }

        .icon,
        .iconRed {
          font-size: config.$med-font;
        }

        .iconRed {
          color: config.$red;
        }
      }
    }
  }
}

.slide-menu {
  margin-top: 50px;
}

.shoppingcart-icon {
  display: flex;
  align-items: center;
  position: relative;

  p {
    position: absolute;
    left: 25px;
    bottom: 15px;
    color: config.$orange;
    font-size: config.$small-font;
  }
}
