@use "mixins" as mixins;
@use "config" as config;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  max-width: config.$max-width;
  margin: auto;
  font-family: config.$farsiFont;
  background: config.$cream;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  cursor: pointer;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 99;
}

.mainButton {
  @include mixins.button(config.$brand, config.$black, 120px);
}

.subButton {
  @include mixins.button(config.$black, config.$brand, 120px);
}
