@use "mixins" as mixins;
@use "config" as config;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: config.$max-width;
  margin: auto;
  font-family: config.$font;
  background: config.$cream;
  user-select: none;
  color: config.$black;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.icon {
  cursor: pointer;
}

.icon-grey {
  cursor: pointer;
  color: config.$grey;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 99;
}

.mainButton {
  @include mixins.button(config.$brand, config.$black, 120px);
  font-family: config.$font;
}

.subButton {
  @include mixins.button(config.$black, config.$brand, 120px);
  font-family: config.$font;
}

.collections-type {
  padding: 10px;
  padding-bottom: 0px;

  .card {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    box-shadow: config.$image-shadow;
    @include mixins.border-radius();

    &:hover {
      cursor: pointer;
    }

    .image {
      width: 100%;
      height: 100%;
      object-position: 100% 30%;
      @include mixins.border-radius();
    }

    .banner {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      position: relative;
      top: 160px;
      z-index: 1;
      width: 80px;
      height: 30px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      @include mixins.transparentBackground(0.8, config.$brand);
    }
  }
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  gap: 10px;
  padding: 10px;

  .image {
    @include mixins.border-radius();
  }

  .product {
    position: relative;
    width: 100%;
    height: 250px;
    box-shadow: config.$image-shadow;
    @include mixins.border-radius();

    &:hover {
      cursor: pointer;
    }

    .banner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 10px;
      right: 0px;
      z-index: 1;
      height: 35px;
      padding: 10px;
      width: 100%;
      @include mixins.transparentBackground(0.8, config.$cream);

      p {
        font-size: config.$tiny-font;
        margin-left: 10px;
      }

      .title {
        min-width: 45%;
        margin: 0px;
      }

      .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;

        div {
          display: flex;
        }

        .icon,
        .iconRed {
          font-size: config.$med-font;
          width: 20px;
          height: 20px;
        }

        .iconRed {
          color: config.$red;
          @include mixins.favour();
        }
      }
    }
  }
}

.wish-list {
  max-height: calc(100vh - 50px);
  overflow-y: scroll;
  margin-top: 50px;
}

.shoppingcart-icon {
  display: flex;
  align-items: center;
  position: relative;

  p {
    position: absolute;
    left: 25px;
    bottom: 10px;
    font-size: config.$small-font;
  }
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  .input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    margin: 10px 0px;

    input {
      margin-top: 10px;
    }
  }
}
