@use "mixins" as mixins;
@use "config" as config;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: config.$max-width;
  margin: auto;
  font-family: config.$font;
  background: config.$cream;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  cursor: pointer;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 99;
}

.mainButton {
  @include mixins.button(config.$brand, config.$black, 120px);
}

.subButton {
  @include mixins.button(config.$black, config.$brand, 120px);
}

.collections-container {
  padding: 10px;
  padding-bottom: 0px;
  position: relative;

  .collections-card {
    position: relative;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: config.$display-shadow;

    .image {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    .banner {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      position: relative;
      top: 110px;
      z-index: 1;
      width: 100px;
      height: 30px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      @include mixins.transparentBackground(0.8, config.$brand);
    }
  }
}
