@use "mixins" as mixins;
@use "config" as config;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: config.$font;
}

body {
  max-width: config.$max-width;
  margin: auto;
  background: config.$cream;
  user-select: none;
  color: config.$black;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.icon {
  cursor: pointer;
}

.icon-grey {
  cursor: pointer;
  color: config.$grey;
}

.main {
  min-height: 100vh;
}
.navigationTop {
  position: sticky;
  top: 0;
  z-index: 99;
}

.navigationBottom {
  position: sticky;
  bottom: 0;
  z-index: 2;
  @include mixins.slide-top();

  div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: config.$white;
    box-shadow: config.$card-shadow;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .navigationActive {
    color: config.$pink;
    @include mixins.favour();
  }
}

.mainButton {
  @include mixins.button(config.$brand, config.$black, 100px);
}

.subButton {
  @include mixins.button(config.$cream, config.$black, 100px);
}

.highlight {
  padding: 12px;

  h4 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 8px;
  }
}

.referral {
  margin: 0px 12px;

  .info {
    margin: 8px 0px;
    padding: 4px;
    @include mixins.transparentBackground(0.5, config.$brand);
    @include mixins.border-radius();
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.gold-icon {
  margin: 0px 4px;
  color: config.$gold;
}

.collections-type {
  display: flex;
  flex-direction: column;

  .cardClothing,
  .cardCare {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 8px 12px;
    height: 55vh;
    box-shadow: config.$image-shadow;
    @include mixins.border-radius();
    @include mixins.gradientBorder();

    &:hover {
      cursor: pointer;
    }

    .image {
      width: 100%;
      height: 100%;
      object-position: 100% 30%;
      border-radius: 10px;
    }

    .ctaClothing,
    .ctaCare {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 24px;
      right: 0px;
      z-index: 1;
      width: 40%;
      height: 40px;
      margin: auto;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      font-weight: bold;
      box-shadow: config.$image-shadow;
      @include mixins.gradientBackground();
    }

    .ctaCare {
      background: linear-gradient(to left, config.$brand, config.$magneta);
    }
  }

  .cardCare {
    background: linear-gradient(config.$white, config.$white) padding-box,
      linear-gradient(45deg, config.$magneta, config.$brand) border-box;
  }
}

.ctaButton,
.ctaButton-referral {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 40px;
  border-radius: 50px;
  font-weight: bold;
  margin: 8px auto;
  box-shadow: config.$image-shadow;
  background: config.$brand;

  &:hover {
    cursor: pointer;
  }
}

.ctaButton-referral {
  background: config.$lemon;
  @include mixins.heartbeat();
}

.message {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 8px;
  max-width: config.$max-width;
  font-size: config.$tiny-font;
}

.collection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 12px;

  .image {
    @include mixins.border-radius();
  }

  .product {
    position: relative;
    width: 100%;
    height: 280px;
    box-shadow: config.$image-shadow;
    @include mixins.border-radius();

    &:hover {
      cursor: pointer;
    }

    .banner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 0px;
      right: 0px;
      z-index: 1;
      padding: 5px;
      width: 100%;
      @include mixins.transparentBackground(0.8, config.$cream);
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;

      .title,
      .value {
        margin: 0px;
        font-weight: bold;
        text-align: right;
        font-size: config.$tiny-font;
        width: 50%;
      }

      .value {
        width: 50%;
        text-align: left;
      }
    }

    .social {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      top: 12px;
      z-index: 1;
      right: 0px;
      padding: 0px 5px;
      height: 30px;
      @include mixins.transparentBackground(0.8, config.$cream);
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;

      div {
        display: flex;
      }

      .icon,
      .iconRed,
      .iconPink {
        font-size: config.$med-font;
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }

      .iconPink {
        color: config.$pink;
        @include mixins.favour();
      }

      .count {
        font-size: config.$tiny-font;
      }
    }

    .new,
    .sale,
    .activate {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 1;
      width: 50px;
      height: 30px;
      font-size: config.$tiny-font;
    }

    .new {
      top: 190px;
      right: 0px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      padding: 3px;
      color: config.$black;
      @include mixins.gradientBackground();
    }

    .sale {
      top: 12px;
      left: 0px;
      font-weight: bold;
      color: config.$red;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      padding: 3px;
      @include mixins.transparentBackground(0.8, config.$cream);

      p {
        position: relative;
        top: 1px;
      }
    }

    .activate {
      top: 190px;
      right: 0px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      padding: 3px;
      color: config.$white;
      @include mixins.transparentBackground(0.8, config.$orange);
    }
  }
}

.iconRed {
  color: config.$red;
  @include mixins.favour();
}

.container-list {
  margin-top: 50px;
  overflow-y: scroll;
}

.shoppingcart-icon {
  display: flex;
  align-items: center;
  position: relative;

  .search {
    position: absolute;
    right: 30px;
  }

  p {
    position: absolute;
    left: 30px;
    bottom: 0px;
    min-height: 30px;
    min-width: 30px;
    text-align: left;
    font-size: config.$small-font;
  }
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;

  .input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    margin: 12px 0px;

    input {
      margin-top: 12px;
    }
  }

  button {
    @include mixins.ctaButton();
  }
}

.user-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  gap: 12px;
  padding: 12px;
}

.navigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
}

.loadAppUpdate,
.loadEntry {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  p {
    margin-top: 12px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  .lemon {
    margin: 0px 12px;
  }
}

.loadAppUpdate {
  width: 80%;
  flex-direction: column;
  text-align: center;
  margin: auto;
}
